@use "../abstracts" as *;
// Base styles
@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0 4rem;
    font-size: px-to-rem(16px);
    line-height: px-to-rem(24px);
    background-color: $color-regular;
  }

  main {
    width: 100%;
    min-height: 90vh;
  }

  section {
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  a {
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }
}
