// Base styles
// html, body, a, h1
html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
}

section {
  width: 100%;
  display: flex;
  overflow: hidden;
}
