// Base styles
// html, body, a, h1
html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0 4rem;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(24px);
  background-color: #F29F05;
}

main {
  margin-top: 10vh;
  width: 100%;
  min-height: 90vh;
}

section {
  width: 100%;
  display: flex;
  overflow: hidden;
}

a {
  cursor: pointer;
}

