@use "../abstracts" as *;

@layer base {

  body {
    font-family: $font-sans-serif;
  }

  h1 {
    font-size: px-to-rem(32px);
    line-height: px-to-rem(32px);
    text-align: center;
  }

  h2 {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(32px);
  }

  h3 {
    font-weight: $font-bold;
  }
}