@use "../abstracts" as *;

@layer base {
  h1 {
    font-size: px-to-rem(32px);
    line-height: px-to-rem(32px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.4px;
  }

  h2 {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(32px);
  }

  h3 {
    font-weight: $font-medium;
  }

  h5 {
    font-weight: $font-regular;
  }
}
