@use "../abstracts" as *;


// h1, h2, h3, h4, h5, h6, p, a, span {
//   font-family: $font-sans-serif;
// }

body {
  font-family: $font-sans-serif;
}

h1 {
    font-size: px-to-rem(32px);
    line-height: px-to-rem(32px);
}

h2 {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(32px);
}

h3 {
  font-weight: $font-bold;
}