@use "../abstracts" as *;

@layer modules {

    /* Contact Form Buttons */
    .main-button {
    width: fit-content;
    padding: 0.75rem 2rem;
    border: 1px solid $color-black;
    border-radius: 0.4rem;
    font-weight: $font-regular;
    color: $color-black;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    }
}