@use "../abstracts" as *;

@layer modules {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
    background: $color-xlight;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba($color-black, 0.2);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    & img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      display: block;
    }

    @media (min-width: 768px) {
      flex: 0 0 calc(50% - 2rem);
      max-width: calc(50% - 2rem);
    }

    @media (min-width: 1200px) {
      flex: 0 0 calc(33.333% - 2rem);
      max-width: calc(33.333% - 2rem);
    }
  }
}
