@use "../abstracts" as *;

@layer modules {
  .card {
    flex: 0 0 100%;
    max-width: 100%;

    & img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      display: block;
    }

     @container (min-width: 600px) {
      flex: 0 0 calc(50% - 2rem);
      max-width: calc(50% - 2rem);
    }

    @container (min-width: 900px) {
      flex: 0 0 calc(33.333% - 2rem);
      max-width: calc(33.333% - 2rem);
    }
  }
}
