@use "../abstracts" as *;

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

  &__identification,
  &__contact {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color-black;
  }
}
