@use "../abstracts" as *;

@layer modules {
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    &__identification,
    &__contact {
      display: flex;
      width: 100%;
      gap: 1rem;

      & .field-group {
        flex: 1;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $color-black;
    }
  }
}

  .field-group {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    font-size: 0.85rem;
    color: $color-regular;
    margin-top: 0.25rem;
    min-height: 1rem;
  }

