@use "../abstracts" as *;

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__identification, &__contact {
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    input, textarea {
        width: 100%;
        padding: .5rem;
        border: none;
        border-bottom: 1px solid $color-black;
        background-color: transparent;
    }

}
