@use "../abstracts" as *;

@layer modules {
  .display-heading {
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: $font-thin;
    line-height: 1.2;
    letter-spacing: -2px;
    text-transform: uppercase;

    &--dark {
      color: $color-black;
    }

    & span {
      display: block;
    }
  }
}
