@use "../abstracts" as *;

@layer layouts {
  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    container-name: blog-post;
    container-type: inline-size;
    gap: 2cqi;

    &__hero {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50cqb;

      &--image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--header {
        position: absolute;
        top: 50%;
        max-width: 60%;

        & h2 {
          font-size: clamp(2rem, 4cqi, 4rem); 
          font-weight: $font-bk;
          line-height: 0.8;
          text-transform: uppercase;
        }
      }

      :where(h2, p) {
        color: $color-regular;
        color: color(display-p3 0.99 0.3 0.11);
        text-align: center;
      }
    }

    &__content {
        width: 80cqi;
        max-width: 65ch;

      @container blog-post (max-width: 768px) {
        width: 95cqi;
      }
    }

    &__content:has(> figure + p) {
      display: flex;
      gap: 1cqi;

      @container blog-post (max-width: 768px) {
        flex-direction: column;
      }
    }

    figure:has(blockquote) {
      padding: px-to-rem(16px);
      border-left: 4px solid $color-regular;
      border-left: 4px solid color(display-p3 0.99 0.3 0.11);
    }

    &__list {
      border-bottom: 1px solid $color-grey;
      border-top: 1px solid $color-grey;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      padding-top: 2rem;

      &--number {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4cqmin;
        height: 4cqmin;
        border: 1px solid $color-grey;
        border-radius: 50%;
        text-align: center;
      }

      &--heading {
        margin-left: 2.5rem;
      }
    }

    dt:has(span) {
      position: relative;
      display: flex;
    }

    dd:has(p) {
      margin-left: 2.5rem;
    }

    &__carousel {
      width: 60cqi;

      @container blog-post (max-width: 768px) {
        width: 95cqi;
      }
    }
  }
}
