@use "../abstracts/" as *;

@layer layouts {
  .footer {
    padding: px-to-rem(16px);
    color: $color-white;
    background-color: $color-black;
    container-name: footer-container;
    container-type: inline-size;
    text-align: center;

    .nav-link {
      font-weight: $font-medium;
      color: $color-white;
    }
  }

  .navbar {
    @container footer-container (max-width: 992px) {
      display: none;
    }
  }
}
