@use "../abstracts" as *;

@layer layouts {
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 6rem;
        position: absolute;
        width: 100%;
        height: 10vh;
        top: 0;
        left: 0;
        // TODO: Ponerle efecto borroso de fondo

        & .brand {
            display: flex;
            align-items: center;
        }
    }

    .brand {
        &__logo {
            width: px-to-rem(32px);
            height: auto;
            margin-right: px-to-rem(24px);
        }

        &__name {
            font-size: px-to-rem(32px);
            text-transform: uppercase;
            font-weight: $font-bk;
            letter-spacing: -4px;

        }
    }

    .main-nav {
        ul {
            display: flex;
            gap: px-to-rem(24px);
        }

        &__item {
            a {
                font-size: px-to-rem(18px);
                font-weight: $font-bold;
                text-transform: uppercase;
                letter-spacing: -1px;

                &:hover {
                    // color: $primary-blue;
                }
            }
        }
    }
}