@use "../abstracts" as *;

@layer layouts {
  .container-fluid {
    justify-content: space-between;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .brand {
    &__logo {
      width: px-to-rem(32px);
      height: auto;
      margin-right: px-to-rem(24px);
    }

    &__name {
      font-size: px-to-rem(32px);
      font-weight: $font-bk;
      letter-spacing: -4px;
      text-transform: uppercase;
      @media screen and (max-width: 450px) {
        display: none;
      }
    }
  }

  .nav-link {
    letter-spacing: -1px;
    text-transform: uppercase;
  }
}
