@use "../abstracts" as *;

@layer layouts {
    .container-fluid {
        justify-content: space-between;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .brand {
        &__logo {
            width: px-to-rem(32px);
            height: auto;
            margin-right: px-to-rem(24px);
        }

        &__name {
            font-size: px-to-rem(32px);
            text-transform: uppercase;
            font-weight: $font-bk;
            letter-spacing: -4px;
            @media screen and (max-width: 450px) {
                display: none;
                
            }

        }
    }

    .nav-link {
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    
}