@use "../abstracts" as *;

// Here is home layout styles with css grid

// Here styles for browsers that don't support css grid


// Here styles for browsers that support css grid
@supports (display: grid) {
    // .home-layout styles
    .home-grid {
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 1rem;
        width: 100%;
        height: 90vh;

        &__video {
            grid-column: 3 / span 6;
            grid-row: 3 / span 6;

            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;  
                display: block;
            }
        }

            &__title {
            font-weight: $font-bk;
            text-transform: uppercase;
            text-align: center;
            font-size: clamp(5vh , 8vw, 16vh);
            grid-column: 1 / span 10;
            grid-row: 8;
        }

        &__subtitle {
            font-weight: $font-bk;
            font-size: clamp(1rem , 1.2rem, 1.5rem);
            line-height: 1;
            grid-column: 1 / span 1;
            grid-row: 2 / span 2;
        }

        &__icon1 {
            width: px-to-rem(48px);
            grid-column: 8 / span 1;
            grid-row: 3 / span 1;
        }

        &__icon2 {
            width: px-to-rem(48px);
            grid-column: 2 / span 1;
            grid-row: 7 / span 1;
        }

        &__content {
            // Estilos comuntes
            grid-row: 9 / span 2;

            &--1 {
                grid-column: 3 / span 2;
            }
             &--2 {
                grid-column: 5 / span 2;
            }
            &--3 {
                grid-column: 7 / span 2;
            }
        }
    }
}