@use "../abstracts" as *;

@layer layouts {
 
  /*Here styles for browsers that don't support css grid */

  /* Video */
  .home-grid__video {
    overflow: hidden;
  }

  .home-grid__video video {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
  }

  /* Title */
  .home-grid__title {
    font-weight: $font-bk;
    text-transform: uppercase;
  }

  /* Subtitle */
  .home-grid__subtitle {
    font-size: 1.2rem;
    font-weight: $font-bk;
    text-align: center;
  }

  /* Icons */
  .home-grid__icon1,
  .home-grid__icon2 {
    width: px-to-rem(48px);
  }

  /* Contents */
  .home-grid__content {
    display: inline;
    text-align: center;
  }

  /* Here styles for browsers that support css grid */
  @supports (display: grid) {
    .home-grid {
      display: grid;
      width: 100%;
      height: 90vh;
      container-name: home-grid;

      container-type: inline-size;
      gap: 1rem;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(10, 1fr);

      &__video {
        grid-column: 3 / span 8;
        grid-row: 3 / span 6;
        overflow: hidden;

        @container home-grid (max-width: 900px) {
          grid-column: 2 / span 10;
          grid-row: 2 / span 5;
        }

        & video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__title {
        font-size: clamp(5vh, 8vw, 16vh);
        font-weight: $font-bk;
        color: $color-regular;
        grid-column: 2 / span 10;
        grid-row: 8;
        mix-blend-mode: color-dodge;
        text-transform: uppercase;

        @container home-grid (max-width: 900px) {
          grid-column: 2 / span 10;
          grid-row: 6;
        }
      }

      &__subtitle {
        font-size: clamp(1rem, 1.2rem, 1.5rem);
        font-weight: $font-bk;
        line-height: 1;
        grid-column: 2 / span 1;
        grid-row: 2 / span;
        text-align: left;

        @container home-grid (max-width: 900px) {
          padding: 1rem;
          grid-column: 2 / span 2;
          grid-row: 2;
        }
      }

      &__icon1 {
        width: px-to-rem(48px);
        grid-column: 10 / span 1;
        grid-row: 3 / span 1;
      }

      &__icon2 {
        width: px-to-rem(48px);
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
      }

      &__content {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        grid-column: 3 / span 8;
        grid-row: 9 / span 2;

        @container home-grid (max-width: 900px) {
          flex-direction: column;
          grid-column: 2 / span 10;
          grid-row: 8 / span 2;
        }

        &--1,
        &--2,
        &--3 {
          flex: 1;
          text-align: left;
        }
      }
    }
  }
}
