@use "../abstracts" as *;


@layer layouts {

  // Here styles for browsers that don't support css grid
  /* Video */
  .home-grid__video {
    overflow: hidden;
  }

  .home-grid__video video {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    display: block;
  }

  /* Title */
  .home-grid__title {
    font-weight: $font-bk;
    text-transform: uppercase;
  }

  /* Subtitle */
  .home-grid__subtitle {
    font-weight: $font-bk;
    font-size: 1.2rem;
    text-align: center;
  }

  /* Icons */
  .home-grid__icon1,
  .home-grid__icon2 {
    width: px-to-rem(48px);
  }

  /* Contents */
  .home-grid__content {
    text-align: center;
    display: inline;
  }


  /* Here styles for browsers that support css grid */
  @supports (display: grid) {
    .home-grid {
      margin-top: 10vh;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      gap: 1rem;
      width: 100%;
      height: 90vh;

      &__video {
        grid-column: 3 / span 6;
        grid-row: 3 / span 6;
        overflow: hidden;

        @media screen and (max-width: 900px) {
          grid-column: 1 / span 10;
          grid-row: 2 /span 5;
        }

        & video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;

        }
      }

      &__title {
        font-weight: $font-bk;
        color: $color-regular;
        text-transform: uppercase;
        font-size: clamp(5vh, 8vw, 16vh);
        grid-column: 1 / span 10;
        grid-row: 8;
        mix-blend-mode: color-dodge;

        @media screen and (max-width: 900px) {
          grid-column: 1 / span 10;
          grid-row: 6;
        }
      }

      &__subtitle {
        font-weight: $font-bk;
        font-size: clamp(1rem, 1.2rem, 1.5rem);
        text-align: left;
        line-height: 1;
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;

        @media screen and (max-width: 900px) {
          grid-column: 1 / span 10;
          grid-row: 1;
        }
      }

      &__icon1 {
        width: px-to-rem(48px);
        grid-column: 8 / span 1;
        grid-row: 3 / span 1;
      }

      &__icon2 {
        width: px-to-rem(48px);
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
      }

      &__content {
        grid-column: 3 / span 6;
        grid-row: 9 / span 2;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media screen and (max-width: 900px) {
          grid-column: 1 / span 10;
          grid-row: 8 / span 2;
          flex-direction: column;
        }

        &--1,
        &--2,
        &--3 {
          flex: 1;
          text-align: left;
        }
      }
    }
  }
}