@use "../abstracts" as *;

@layer layouts {
  .speakers-list {
    display: flex;
    justify-content: center;
    padding: 2rem 6rem;

    // Container query for responsive layout
    container-type: inline-size;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .modal-launcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 2rem;
  }
}
