@use "../abstracts" as *;

@layer layouts {
  .speakers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 6rem;

    // Container query for responsive layout
    container-type: inline-size;
  }

  .modal-launcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;

    button {
      background-color: $primary;
      color: $light;
      border: none;
      padding: px-to-rem(12px) px-to-rem(24px);
      font-size: px-to-rem(18px);
      font-weight: $font-medium;
      text-transform: uppercase;
      letter-spacing: -1px;
      border-radius: px-to-rem(8px);
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
}
