<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/src/index.html">
            <img class="brand__logo" src="/src/assets/images/logo-fogonazo.svg" alt="Logo del sitio">
            <span class="brand__name">Fogonazo!</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/speakers.html">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
