<header class="main-header">
    <a href="./index.html" class="brand">
         <img class="brand__logo" src="./assets/images/logo-fogonazo.svg" alt="Logo del sitio">
         <span class="brand__name">Fogonazo!</span>
    </a>
    <nav class="main-nav">
        <ul>
            <li class="main-nav__item"><a href="./pages/speakers.html">Speakers</a></li>
            <li class="main-nav__item"><a href="./pages/blog.html">Blog</a></li>
            <li class="main-nav__item"><a href="./pages/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>