@use "sass:color";

//  Fonts variables

//  Fonts variables
$font-sans-serif: "Inter", "Helvetica", sans-serif;



// Color variables
$light-gray: rgb(236, 240, 241);
$dark-gray: rgb(31, 41, 51);
$primary-blue: rgb(68, 82, 207);
$primary-yellow: rgb(247, 178, 59);
