@use "sass:color";

//  Fonts variables
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

// Font weights
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;    
$font-bk: 900;



// Color variables
// $light-gray: rgb(236, 240, 241);
// $dark-gray: rgb(31, 41, 51);
// $primary-blue: rgb(68, 82, 207);
// $primary-yellow: rgb(247, 178, 59);
