@import "bootstrap/scss/functions";

//  Fonts variables
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

// Font weights
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;    
$font-bk: 900;



// Color variables

$color-dark: #591902;
$color-medium: #BF4904;
$color-regular: #D96704;
$color-light: #F29F05;
$color-xlight: #F2D16D;

$color-white: #f9f9f9;
$color-black: #121212;