/* Fonts variables */
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

/* Font weights */
$font-thin: 100;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-bk: 900;

/* Color variables */
$color-complementary: #5268ff;
$color-info: #a8b3ff;
$color-medium: #fc7851;
$color-regular: #fc3e00;
$color-light: #fcb1a9;
$color-xlight: #fcefa9;
$color-white: #fffaf7;
$color-grey: #7d7d7d;
$color-black: #1e1e1e;

/*-----------------
BOOTSTRAP OVERRIDES
-------------------*/

/* Typography */
$font-family-base: $font-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$headings-font-family: $font-sans-serif;
$headings-font-weight: $font-medium;

/* Color system */
$primary: $color-complementary;
$secondary: $color-grey;
$success: $color-medium;
$danger: $color-regular;
$warning: $color-light;
$info: $color-info;
$light: $color-white;
$dark: $color-black;

/* Navbar overrides */
$nav-link-font-weight: 800;
$nav-link-font-size: 1.5rem;

/* Nav link colors */
$navbar-light-color: rgba($color-black, 1);
$navbar-light-hover-color: $color-medium;
$navbar-padding-x: 5rem;

/* Card overrides */
$card-bg: $color-white;
$card-border-radius: 1rem;
$card-border-width: 0;
$card-box-shadow: 0 8px 20px rgba($color-black, 0.2);
$card-cap-bg: transparent;
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-title-spacer-y: 0.5rem;
