/* Fonts variables */
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

/* Font weights */
$font-thin: 100;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-bk: 900;

/* Color variables */
$color-complementary: #5268ff;
$color-info: #a8b3ff;
$color-medium: #fc7851;
$color-regular: #fc3e00;
$color-light: #fcb1a9;
$color-xlight: #fcefa9;
$color-white: #fffaf7;
$color-grey: #7d7d7d;
$color-black: #1e1e1e;


