/* Fonts variables */
$font-sans-serif: "Inter Tight", "Helvetica", sans-serif;

/* Font weights */
$font-thin: 100;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;    
$font-bk: 900;

/* Color variables */
$color-dark-complementary: #025951;
$color-medium: #bf500f;
$color-regular: #ed6e12;
$color-light: #d9965b;
$color-xlight: #fcefa9;
$color-light-complementary: #c1d4d9;
$color-white: #fffaf7;
$color-black: #1e1e1e;

/*-----------------
BOOTSTRAP OVERRIDES
-------------------*/

/* Typography */
$font-family-base: $font-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5; 
$headings-font-family: $font-sans-serif;
$headings-font-weight: $font-medium;


/* Color system */
$primary: $color-medium;
$secondary: $color-light;
$success: $color-dark-complementary;
$danger: $color-regular;
$warning: $color-light;
$info: $color-light-complementary;
$light: $color-white;
$dark: $color-black;

/* Navbar overrides */
$nav-link-font-weight: 800;
$nav-link-font-size: 1.5rem;

/* Nav link colors */
$navbar-light-color: rgba($color-black, 1);
$navbar-light-hover-color: $color-medium;
$navbar-padding-x: 5rem;;

/* Card overrides */
$card-bg: $color-white;
$card-border-radius: 1rem;
$card-border-width: 0;
$card-box-shadow: 0 8px 20px rgba($color-black, 0.2);
$card-cap-bg: transparent;
$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-title-spacer-y: 0.5rem;