/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */


/**
* Import abstracts
 */
@use "abstracts/index" as abstracts;

 /**
 * Import dependencies
 */
@use "dependencies";

/**
* Import base structures
*/
@use "base/index" as base;

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@use "layouts/index" as layouts;



/**
 * Do NOT include anything else in this file!
 */
